{{ form_start(form) }}
        <div>{{ form_errors(form) }}</div>
        <div>
            {{ form_label(form.title, 'Title of the post', {'label_attr': {'class':'block text-sm text-gray-600  font-medium'}}) }}
            {{ form_widget(form.title, {'attr':{'class':'dblock w-full shadow-sm border-gray-300 dark:border-transparent dark:text-gray-800 rounded-md border p-2 mt-1 mb-2'}}) }}
            {{ form_errors(form.title)}}
        </div>

        <div>
            {{ form_label(form.text,'Post content',  {'label_attr': {'class':'block text-sm text-gray-600 font-medium'}}) }}
            {{ form_widget(form.text, {'attr':{'class':'dblock w-full shadow-sm border-gray-300 dark:border-transparent dark:text-gray-800 rounded-md border p-2 mt-1 mb-2'}}) }}
            {{ form_errors(form.text)}}
        </div>
        <div>
            <button type="submit" class="block w-full shadow-sm border-greened bg-greeneddark hover:border-greeneddark hover:bg-greened text-gray-500 rounded-md border p-2 mt-4 mb-2">save</button>
        </div>
    {{ form_end(form) }}